@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body{
    background: url(./img/fondo.jpg);
} */
.navigation{
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 70px;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid rgba(32, 21, 53, 0.8);
    background-color: rgba(32, 21, 53, 0.8);;
    transition: width 0.5s;
    overflow-x: hidden;
}

.navigation.active{
    width: 300px;
}

.navigation .head img {
    top: 10px;
    left: 30px;
}

.navigation
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
    transition: 0.5s;
}

.navigation.active ul{
    margin-left: 20px;
    transition: 0.5s;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.navigation ul li.active{
    width: 90%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(55, 47, 72, 0.8);
}

.navigation ul li b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 10%;
    height: 100%;
    background-color: #fff;
}

.navigation ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0px;
    height: 0px;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background-color: rgba(0,0, 0, 0.3);;
}

.navigation ul li.active a{
    color: #fff;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: rgba(198, 199, 200);
    font-weight: bold !important;

}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;

}

.navigation ul li a .icon i{
    font-size: 1.5em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;

}

.toggle{
    position: fixed;
    top: 60px;
    left: 80px;
    width: 25px;
    height: 25px;
    background-color: #4d5bf9;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.toggle.active{
    background-color: #ff4d89;
    left: 310px;
    transition: 0.5s;
}

.toggle i{
    position: absolute;
    color: #fff;
    font-size: 15px;
    display: none;
}

.toggle i.open,
.toggle.active i.close{
    display: block;
}

.toggle i.close,
.toggle.active i.open{
    display: none;
}


.navigation .nomb{
    display: none !important;
}

.navigation.active .nomb{
    display: flex !important;
    flex-direction: column;
    line-height: 100%;
    justify-content: center;
}


.navigation .head{
    display: flex;
    flex-direction: row;
    line-height: 100%;
    margin-top: 20px;
    color: #fff;
    
}

.navigation .perf{
    padding: 10px;
}

.navigation .perf img{
    border-radius: 10px;
    border: 2px solid #303030;
}

.navigation .nomb{
    display: flex;
    flex-direction: column;
    line-height: 100%;
    justify-content: center;
    
    font-size: 18px;
    
}

.navigation .nomb .Use{
    font-weight: 800 !important;
}